body {
  background-color: #1a1a1a;
}

.logo {
  max-height: 100px;
  background-color: #e6e6e6;
}

nav ul li a {
  color: #e6e6e6 !important;
}

nav ul li a:hover {
  color: #00ffff !important;
  font-weight: bold;
}

.hero-section {
  height: 90vh;
}

.hero-img {
  max-width: 300px;
}

.social-icon {
  font-size: 2rem;
}

.toggler-icon {
  color: #fff !important;
}

@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 50%;
  }

  .portfolio-item {
    width: 75% !important;
  }
}
